:root {
  --color-blank: #ebebeb;
  --color-purple: #975dfa;
  --color-botoesNumeros: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.15) 0%,
      rgba(255, 255, 255, 0.05) 100%
    ),
    #2d2a37;
  --color-botoesOperacoes: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.05) 0.01%,
      rgba(255, 255, 255, 0.05) 100%
    ),
    #462878;
  --color-botaoIgual: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.15) 0%,
      rgba(255, 255, 255, 0.05) 100%
    ),
    #7f45e2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: linear-gradient(180deg, #807ece 0%, #8e7ece 100%);
}
